---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Experiencie from "../components/Experiencie.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Line from "../components/extras/Line.astro";
import Linkedin from "../components/extras/Linkedin.astro";
import Github from "../components/extras/Github.astro";
import Cv from "../components/extras/Cv.astro";
---

<Layout
  title="Axel Ledesma - Desarrollador Web"
  description="Sitio web acerca de Axel Ledesma, programador y desarrollador web full stack"
>
  <nav>
    <Navbar />
  </nav>
  <main>
    <div class="animate-bg-animated">
      <section
        class="pb-20 pt-40 px-4 md:gap-8 md:justify-center md:items-center"
      >
        <h1 class="py-4 text-center text-5xl md:text-7xl lg:text-8xl">
          Axel Ledesma
        </h1>
        <h2 class="text-center text-3xl md:text-5xl lg:text-6xl text-slate-700">
          Programador Web
        </h2>
        <div class="flex gap-4 justify-center items-center py-6">
          <Linkedin />
          <Github />
        </div>
        <Cv />
      </section>
    </div>
    <Experiencie />
    <Projects />
    <About />
  </main>
  <footer>
    <Contact />
  </footer>
</Layout>

<style>
  .animate-bg-animated {
    background-image: linear-gradient(
      45deg,
      #4a86ff 0,
      #737ffa 3.85%,
      #9178f2 7.69%,
      #a870e8 11.54%,
      #bc68dc 15.38%,
      #cc60cf 19.23%,
      #da58c1 23.08%,
      #e551b1 26.92%,
      #ed4ca2 30.77%,
      #f24892 34.62%,
      #f64882 38.46%,
      #f64972 42.31%,
      #f54d62 46.15%,
      #f25353 50%,
      #ed5a44 53.85%,
      #e66136 57.69%,
      #de6927 61.54%,
      #d47016 65.38%,
      #c97700 69.23%,
      #bd7e00 73.08%,
      #b18400 76.92%,
      #a38900 80.77%,
      #948e00 84.62%,
      #859300 88.46%,
      #749700 92.31%,
      #619a0d 96.15%,
      #4c9d22 100%
    );
    background-size: 400% 400%;
  }
</style>
