<section class="py-20 px-8 bg-black text-white" id="about">
  <div class="[&>p]:mb-4">
    <h1 class="text-yellow-300 text-md tracking-loose">Axel F. Ledesma</h1>
    <h2
      class="text-3xl md:text-4xl uppercase leading-normal md:leading-relaxed mb-2"
    >
      Sobre mí
    </h2>
    <p>
      Al incursionarme en la reparación de PC a temprana edad, sembró las bases
      de mi pasión por la informática y me motivó a continuar mi formación
      académica como Licenciado en Sistemas en la Universidad Nacional General
      Sarmiento.
    </p>
    <p>
      Actualmente además, me encuentro inmerso en un programa de estudio
      enfocado en programación web, y he dado un paso significativo en mi
      carrera al pasar de puesto como Soporte Técnico en Redes al asumir un rol
      más desafiante como Analista de Monitoreo de Redes e Infraestructura.
    </p>
    <p>
      Gracias a mis aptitudes, también pude asumir el rol como NOC dentro del
      servicio de Telefonía Móvil de la misma empresa.
    </p>
  </div>
  <article>
    <h3
      class="text-3xl md:text-4xl uppercase leading-normal md:leading-relaxed mb-2"
    >
      Certificaciones
    </h3>
    <p></p>
  </article>
  <article>
    <h3
      class="text-3xl md:text-4xl uppercase leading-normal md:leading-relaxed mb-2"
    >
      Habilidades y herramientas
    </h3>
    <div></div>
  </article>
</section>
