---
import Linkedin from "./extras/Linkedin.astro";
---

<!-- component -->
<section>
  <div class="bg-black text-white py-8">
    <div
      class="container mx-auto flex flex-col items-start lg:flex-row my-12 md:my-24"
    >
      <!-- H E A D E R   D E    L A    S E C C I O N  -->
      <div
        class="flex flex-col w-full lg:sticky md:top-36 lg:w-1/3 mt-2 md:mt-12 px-8"
      >
        <p class="text-yellow-300 text-md tracking-loose">No todo es TECH</p>
        <p
          class="text-3xl md:text-4xl uppercase leading-normal md:leading-relaxed mb-2"
        >
          experiencia laboral
        </p>
        <p class="text-sm md:text-base text-gray-50 mb-4">
          En esta sección encontrarás un resumen de mi experiencia laboral más
          relevante.
        </p>
        <p class="text-sm md:text-base text-gray-50 mb-4">
          Para obtener más detalles sobre mi trayectoria profesional, mis
          aptitudes, responsabilidades y logros, te invito a que visites mi
          perfil de LinkedIn haciendo clic en el botón debajo.
        </p>
        <div>
          <Linkedin />
        </div>
      </div>
      <div class="ml-0 md:ml-12 lg:w-2/3 sticky">
        <div class="container mx-auto w-full h-full">
          <div class="relative wrap overflow-hidden p-10 h-full">
            <!-- L I N E A S   T I M E L I N E -->
            <div
              class="border-2-2 border-yellow-555 absolute h-full border lg:right-[50%]"
              style=" border: 2px solid #FFC100; border-radius: 1%;"
            >
            </div>
            <div
              class="border-2-2 border-yellow-555 absolute h-full border lg:left-[50%]"
              style="border: 2px solid #FFC100; border-radius: 1%;"
            >
            </div>
            <!-- P R I M E R A    E X P E R I E N C I A -->
            <div class="mb-8 pt-10 items-center w-full">
              <div class="order-1 w-5/12"></div>
              <div class="lg:flex lg:justify-end">
                <div class="order-1 pl-6 py-4">
                  <p class="mb-3 text-base text-center text-yellow-300">
                    abr. 2023 - actualidad
                  </p>
                  <h4 class="mb-3 font-bold text-lg text-center md:text-2xl">
                    Monitoreo de redes e infraestructura
                  </h4>
                  <h5 class="mb-3 text-md text-center md:text-lg">Tel Viso</h5>
                  <ul
                    class="text-sm
                  md:text-base
                  leading-snug
                  text-gray-50
                  text-opacity-100 list-disc ml-4"
                  >
                    <li>
                      Monitoreo y configuración sobre equipos de Internet, VoIP
                      e IPTV y TV digital
                    </li>
                    <li>
                      Detectar y diagnosticar incidencias masivas en la red
                    </li>
                    <li>
                      Soporte de 2° nivel a clientes corporativos en servicios
                      dedicados (VID, TLS) y tramas digitales (SIPTRUNK).
                    </li>
                  </ul>
                </div>
                <div class="order-1 px-6 py-4 lg:pl-10">
                  <p class="mb-3 text-base text-center text-yellow-300">
                    abr. 2023 - actualidad
                  </p>
                  <h4 class="mb-3 font-bold text-lg text-center md:text-2xl">
                    Network Operation Center <br />
                    Telefonía Móvil
                  </h4>
                  <h5 class="mb-3 text-md text-center md:text-lg">IMOWI</h5>
                  <ul
                    class="text-sm
                  md:text-base
                  leading-snug
                  text-gray-50
                  text-opacity-100 list-disc ml-4"
                  >
                    <li>
                      Brindar soporte y resolver reclamos de 2° Nivel de
                      Operadores tecnicos.
                    </li>
                    <li>
                      Monitoreo de la red para detectar fallas o problemas y
                      seguimientos de updates para un mejor servicio
                    </li>
                    <li>
                      Atención en Linea de Denuncia por Robo/Extravío (*910): <br
                      />
                      -Bloqueo de linea movil IMOWI.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- S E G U N D A    E X P E R I E N C I A -->
            <div
              class="mb-8 mt-20 lg:flex flex-row-reverse lg:justify-between items-center w-full"
            >
              <div class="order-1 w-5/12"></div>
              <div class="order-1 lg:w-5/12 pl-6 py-4">
                <p class="mb-3 text-base text-center text-yellow-300">
                  ene. 2022 - abr. 2023
                </p>
                <h4
                  class="mb-3 font-bold text-center text-lg md:text-2xl text-balance"
                >
                  Soporte técnico en redes
                </h4>
                <h5 class="mb-3 text-md text-center md:text-lg">Tel Viso</h5>
                <ul
                  class="text-sm
                  md:text-base
                  leading-snug
                  text-gray-50
                  text-opacity-100 list-disc ml-4"
                >
                  <li>
                    Soporte de 1° Nivel a clientes residenciales y comerciales
                    sobre consultas técnicas y administrativas
                  </li>
                  <li>Configuración de ONT Fibra Óptica y Modems DSL</li>
                  <li>Configuración VoIP</li>
                </ul>
              </div>
            </div>
            <!-- T E R C E R A    E X P E R I E N C I A -->
            <div class="mb-8 lg:flex lg:justify-between items-center w-full">
              <div class="order-1 w-5/12"></div>
              <div class="order-1 lg:w-5/12 pl-6 lg:pl-0 py-4">
                <p class="mb-3 text-base text-center text-yellow-300">
                  oct. 2019 - ene. 2022
                </p>
                <h4 class="mb-3 font-bold text-center text-lg md:text-2xl">
                  Responsable de mostrador
                </h4>
                <h5 class="mb-3 text-md text-center md:text-lg">Lucciano's</h5>
                <ul
                  class="text-sm
                  md:text-base
                  leading-snug
                  text-gray-50
                  text-opacity-100 list-disc ml-4"
                >
                  <li>Resposable de local</li>
                  <li>Encargado de la cámara frigorífica</li>
                  <li>Responsable de proveedores</li>
                  <li>Responsable de caja</li>
                </ul>
              </div>
            </div>
            <!-- C U A R T A    E X P E R I E N C I A -->
            <div
              class="mb-8 lg:flex flex-row-reverse lg:justify-between items-center w-full"
            >
              <div class="order-1 w-5/12"></div>
              <div class="order-1 lg:w-5/12 pl-6 py-4">
                <p class="mb-3 text-base text-center text-yellow-300">
                  abr. 2016 - oct. 2019
                </p>
                <h4 class="mb-3 font-bold text-center text-lg md:text-2xl">
                  Crew
                </h4>
                <h5 class="mb-3 text-md text-center md:text-lg">Mc Donald's</h5>
                <ul
                  class="text-sm
                  md:text-base
                  leading-snug
                  text-gray-50
                  text-opacity-100 list-disc ml-4"
                >
                  <li>Cajero</li>
                  <li>Responsable de salón</li>
                  <li>Area de cocina</li>
                </ul>
              </div>
            </div>
            <!-- I M A G E N -->
            <img
              class="mx-auto"
              src="https://user-images.githubusercontent.com/54521023/116968861-ef21a000-acd2-11eb-95ac-a34b5b490265.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
