<section>
  <nav class="h-20 px-8 flex items-end md:justify-center">
    <input type="checkbox" id="menu" class="peer hidden" />
    <label
      for="menu"
      class="bg-abrir-menu size-10 bg-cover bg-center cursor-pointer peer-checked:bg-cerrar-menu transition-all duration-300 z-40 md:hidden"
    ></label>
    <div
      class="fixed inset-0 bg-gradient-to-b from-[#000] to-[#18091d] -translate-y-full peer-checked:translate-y-0 transition-all duration-500 md:static md:translate-x-0 md:bg-none z-30"
    >
      <ul
        class="h-max grid gap-5 mt-[50%] text-center text-xl font-bold md:grid-flow-col md:static md:mt-0"
      >
        <li><a class="hover:brightness-75 hover:underline" href="#top">Home</a></li>
        <li><a class="hover:brightness-75 hover:underline" href="#experiencia">Experiencia</a></li>
        <li><a class="hover:brightness-75 hover:underline" href="#proyectos">Proyectos</a></li>
        <li><a class="hover:brightness-75 hover:underline" href="#acerca">Acerca de</a></li>
        <li><a class="hover:brightness-75 hover:underline" href="#contacto">Contacto</a></li>
      </ul>
    </div>
  </nav>
</section>
